:root {
  --nav-width: 100px;
}

nav .navlinks {
  text-align: center;
}

nav .animation {
  position: absolute;
  bottom: 0;
  left: 25px;
  background-color: #334150;
  border-radius: 50px;
  height: 4px;
  width: var(--nav-width);
  transition: all 0.5s ease 0s;
}
.navlinks:nth-child(1) {
  width: 150px;
}
.start-Browse,
.active:nth-child(1) ~ .animation {
  width: var(--nav-width);
  left: 25px;
}

.navlinks:nth-child(2) {
  width: 150px;
}
.start-Search,
.active:nth-child(2) ~ .animation {
  width: var(--nav-width);
  left: 175px;
}

.navlinks:nth-child(3) {
  width: 150px;
}
.start-Profile,
.active:nth-child(3) ~ .animation {
  width: var(--nav-width);
  left: 325px;
}

.navlinks:nth-child(4) {
  width: 150px;
}
.start-Help,
.active:nth-child(4) ~ .animation {
  width: var(--nav-width);
  left: 475px;
}

/* custom active slide styles */
/* .swiper-slide-active {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid yellow;
} */
